html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(139, 139, 139);
  grid-auto-rows: 10vh;
  width: 20vw;
  padding: 5px;
  border-radius: 5px;
}

button {
  font-size: 20px;
}

.current-num {
  pointer-events: none;
  background-color: rgb(139, 139, 139);
  grid-column: 1 / -1;
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#clear {
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #4caf50;
  color: white;
  grid-area: 2 / 2;
  grid-column: 1 / 3;
}
#delete {
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: rgb(255, 30, 30);
  color: white;
  grid-area: 2 / 1;
  grid-column: 3 / -1;
}
